:root {
  --color-accent: oklch(76% 0.16 155);
  color-scheme: light dark;
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    font: inherit;
  }

nav {
  display: flex;
  --border-color: oklch(50% 10% 200 / 40%);
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

nav a.current {
  border-bottom: 4px solid #999;
  padding-bottom: 4px;
}

nav a:hover {
  border-bottom: 4px solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column: 1 / -1;
  gap: 1em;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
  grid-auto-rows: auto;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;            
  gap: 1em;
}

.projects h2 {
  margin: 0;
}

h1 {
  font-size: 300%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.color-scheme {
  position: absolute;
  top: 1em;
  right: 1em;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 10px;
  text-align: center;
}

#profile-stats dt {
  grid-row: 1; /* put all labels on top row */
  font-weight: bold;
}

#profile-stats dd {
  grid-row: 2; /* put all values on bottom row */
  margin: 0;
}

.project-year {
  font-family: Baskerville, serif;
  font-variant-numeric: oldstyle-nums;
  color: color-mix(in oklch, canvasText 50%, canvas);
  margin-top: 0.25em;
}

#projects-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1em;
  padding: 1em;
  margin-block: 2em;
  border: 1px solid color-mix(in oklch, canvasText 20%, canvas);
  border-radius: 0.5em;
  list-style: none;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.swatch {
  display: inline-block;
  width: 0.8em;
  aspect-ratio: 1 / 1;
  background: var(--color);
  border-radius: 50%;
}

.chart-container {
  display: flex;
  align-items: center;
  gap: 2em;
  flex-wrap: nowrap;
}

.chart-container .legend {
  flex: 1;
}

.chart-container {
  display: flex;
  align-items: center;
  gap: 2em;
  flex-wrap: nowrap;
}

.chart-container .legend {
  flex: 1;
}

.searchBar {
  display: block;
  width: 100%;
  max-width: 30em;
  padding: 0.75em 1em;
  margin-block: 1em 2em;
  font: inherit;
  border: 1px solid color-mix(in oklch, canvasText 20%, canvas);
  border-radius: 0.5em;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}